@page "/"
@using AutofaqMultitenantBlazor.Sandbox.Shared;

<h1>Hello, world!</h1>

<div>
    Your dendant:
    @Dependency.Id
</div>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
    [Inject]
    public IDependency Dependency { get; set; }
}